.uswork img{
width: 1520px;
height: 600px;
padding: 5px;

}
.uswork h1{
text-align: center;
font-size: 60px;

}
.uswork p{
text-align: center;
font-size: 30px;

}
.uswork h2{
text-align: center;
font-size: 40px;

}

.uswork li{
text-align: center;
font-size: 30px;

}